@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
}

body {
  background: radial-gradient(circle, #1f3756, #141539);
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-and-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  width: calc(100% - 50px);
  max-width: 50rem;
  border-radius: 10px;
  border: 3px solid #606e85;
}

.title-and-score .title {
  width: 10rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 25px;
}

.title-and-score .score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  min-width: 5rem;
  height: 5rem;
  font-weight: 700;
}

.title-and-score .score-container #score-text {
  color: #2a46c0;
  font-size: .7rem;
  letter-spacing: .1rem;
}

.title-and-score .score-container #score-number {
  color: #3b4363;
  font-size: 2.5rem;
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  max-width: 575px;
  position: relative;
}

.choices .white-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  -webkit-box-shadow: inset 0 7px #babfd5;
          box-shadow: inset 0 7px #babfd5;
}

.choices .triangle {
  position: absolute;
  top: 50%;
  right: 47.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1;
}

.choices .triangle #left {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 200px;
  background-color: black;
  opacity: 0.3;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  top: -75px;
  left: -60px;
}

.choices .triangle #right {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 200px;
  background-color: black;
  opacity: 0.3;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  top: -75px;
  left: 60px;
}

.choices .triangle #base {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 200px;
  background-color: black;
  opacity: 0.3;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.choices #rock {
  background: linear-gradient(135deg, #dc2e4e, #dd405d);
  -webkit-box-shadow: 0px 7px #a02239;
          box-shadow: 0px 7px #a02239;
}

.choices #paper {
  background: linear-gradient(135deg, #4865f4, #5671f5);
  -webkit-box-shadow: 0px 7px #3549b1;
          box-shadow: 0px 7px #3549b1;
}

.choices #scissors {
  background: linear-gradient(135deg, #ec9e0e, #eca922);
  -webkit-box-shadow: 0px 7px #b67a0c;
          box-shadow: 0px 7px #b67a0c;
}

.choices #rock, .choices #paper, .choices #scissors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.choices #rock:hover, .choices #rock:focus, .choices #paper:hover, .choices #paper:focus, .choices #scissors:hover, .choices #scissors:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.choices #rock header, .choices #paper header, .choices #scissors header {
  position: absolute;
  bottom: -50px;
  font-size: 1rem;
  font-weight: 700;
}

.rules-btn {
  background-color: transparent;
  font-size: 1.5rem;
  padding: .5rem 3rem;
  border-radius: 10px;
  border: none;
  outline: 2px solid #606e85;
  cursor: pointer;
  color: inherit;
  -webkit-transition: background-color .1s, color .1s, outline .1s;
  transition: background-color .1s, color .1s, outline .1s;
}

.rules-btn:hover, .rules-btn:focus {
  background-color: aliceblue;
  color: black;
  outline: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.overlay .rules-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px #282828;
          box-shadow: 0 0 50px #282828;
  padding: 1rem;
}

.overlay .rules-modal .rules-and-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overlay .rules-modal .rules-and-x header {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.overlay .rules-modal .rules-and-x button {
  -ms-flex-preferred-size: 2rem;
      flex-basis: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.overlay .rules-modal img {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.match-result h2 {
  font-size: 4rem;
}

.match-result button {
  color: #3b4262;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: background-color .1s, outline .1s, color .1s;
  transition: background-color .1s, outline .1s, color .1s;
}

.match-result button:hover, .match-result button:focus {
  background-color: transparent;
  outline: 2px solid #606e85;
  color: white;
}
/*# sourceMappingURL=style.css.map */